:root{
    --caixa-cor-frente: #5f1dc2;
    --caixa-cor-verso: #ba1dc2;
    --fundo: #F8F8FF;
    --preto: #000000;   
    --branco: #fffff0;
    --cor-texto-destaque: #FFE4B5;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}